.cuadricula{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: black;
}

.lista{
    width: 100%;
    background-color: black;
}
.titulo2{
    color: black;
    background-color: yellow;
}
.botones{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

.noresults{
    background-color: black;
    margin: 0px;
    height: 500px;
    color: blanchedalmond;
    font-size: 3rem;
}

.boton{
    background-color: black;
    font-size: 1.6em;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;

    border-radius: 8px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    margin-top: 15px;
}

.boton:hover{
    cursor: pointer;
}

.cargando{
    color: wheat;
}

@media (max-width: 768px){
    .boton{
        font-size: 1rem;
    }



}

@media (max-width:  426px){
    .boton{
        font-size: 0.5rem;   
    }

}