.imagen{
    width: 100%;
    height: 100%;
    
}
.ocultar{
    display: none;
}
.mostrar{
    display: block;
}

.viewmore{
    color: blue;
    
}
.viewmore:hover {
    text-decoration: underline;
    cursor: pointer;
}
.tarjeta{
    width: 20%;
    padding: 10px;
    margin-bottom: 20px;
    border-color: gray;
    border: solid;
    border-width: 2px;
    background-color: aqua;
    min-height: 700px;
}