.imagen{
    width: 100px;
    height: 100px;
}
.ocultar{
    display: none;
}
.mostrar{
    display: block;
}

.viewmore{
    color: blue;
}
.viewmore:hover {
    text-decoration: underline;
    cursor: pointer;
}
.borrar{
    color: red;
}
.borrar:hover {
    text-decoration: underline;
    cursor: pointer;
}